# Pacotes principais
apache-airflow-providers-amazon==8.12.0  # recomendado usar versão explícita
apache-airflow-providers-docker==4.0.0
apache-airflow-providers-apache-spark  # removido travamento de versão

# Ferramentas auxiliares
boto3
pandas
xlrd>=2.0.1
selenium
chromedriver-autoinstaller
kaggle

# Se usar PySpark direto no Airflow para debug
pyspark==3.3.0  # ou a versão que seu Spark utiliza
cloudpickle==1.6.0

